<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Localizable texts with Backbone.js</title>
</head>
<body>
	<div id="form"></div>
	<hr>
	<div id="inspect"></div>
	<script type="text/template" id="form-template">
        <div>
            <a href=# class="locale-btn" data-locale="es">es-ES</a>
            |
            <a href=# class="locale-btn" data-locale="en">en-US</a>
            |
            <a href=# class="locale-btn" data-locale="fr">fr-FR</a>
        </div>
        <div>
            <input type="text" name="title" value="<%= data.title %>"></div>
        <div>
            <input type="text" name="description" value="<%= data.description %>"></div>
        <div>
            <input type="text" name="other" value="<%= data.other %>"></div>
        <div>
            <input type="submit" id="save-btn" value="Actualizar"></div>
        <div>
            <input type="submit" id="save-all-locales-btn" value="Actualizar todos"></div>
	</script>
	<script src="lib/jquery-2.0.1.js"></script>
	<script src="lib/underscore.js"></script>
	<script src="lib/backbone.js"></script>
    <script src="lib/backbone-mutators.js"></script>
	<script src="src/backbone.localizableTexts.js"></script>
</body>
</html>